
/* navbar dark */
.navbar-dark {
  background-color: #282F37 !important;
  color: rgb(23, 15, 200) !important;
}

.title {
  background-color: #fff;
  color: rgba(1, 222, 33, 0.003);
}

.para {
  background-color: #bbb;
  color: rgba(1, 222, 33, 0.003);
}
